footer {
    text-align: center
}

em {
    color:coral
}

body {
    background-image:url(https://pp.userapi.com/c604829/v604829971/2baf0/kyUNKuJE0h0.jpg);
	background-color: #000000;
    background-position: right;
    background-repeat: repeat-y;
    text-color: white;
}

h1{
    color:#E88C0C;
    font-family:monospace;
    
}

h2{
    color:#E88C0C;
    margin-top: 10px;
	text-align: center;
}

h3{
    color:#E88C0C;
    font-family:monospace;
    margin-bottom: 0px;
}

.article {
    border-color:darkgrey;
    border-style: double;
	padding: 5px;
    color:#E88C0C;
}

.zaglab
{
    margin-top: 10;
    margin-left: 10px;
}

p {
    color:#E88C0C;
    margin-left:25px;
}

a {
    color:#E88C0C;
}

pre {
    border-style: solid;
    border-color:cadetblue;
    border-width:thin;
    margin-left: 50px;
    margin-right: 50px;
    background-color:  #2D475C;
    font-size: 12px;
}

a:visited {
    color:#E88C0C;
}

a:hover {
    color:darkgoldenrod;
}
.global {
    color:#E88C0C;
}

table {
    color:antiquewhite;
    margin-top: 0px;
}
ul {
    margin-top: 5px;
    color:antiquewhite;
}
.zagtbl {
    color:#E88C0C;
    
}

.code {
    color: #F7E160;
}

.result {
    color: #CABE91;
}



.rl {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.textbox {
    width: 300px;
    height: 200px;
}
